{% extends './index.html' %}

{% block content %}
    {% load humanize %}

    <h1>{{categoria.nombre}}</h1>

    <div class="container" style="margin-top:50px;">

            <div class="row d-flex justify-content-around ">
                {% for p in productos %}
                <div class="col-3 ">
                    <div class="card-sl d-flex flex-column justify-content-between  h-100">
                        <div>
                        <div class="card-image">
                            <img <img src="{{p.imagen.url}}" alt="imagen producto">
                        </div>

                        <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                        <div class="card-heading">
                            <h2>{{p.titulo}}</h2>
                        </div>
                        <div class="card-text">
                            <h5>{{p.descripcion}}</h5>
                        </div>
                        </div>
                        <div >
                        <div class="card-text">
                            <h3>${{p.precio| intcomma}}</h3>
                        </div>
                        <a href="#" class="card-button"> Purchase</a>
                        </div>
                    </div>
                </div>
                
                {% endfor %}
        </div>
        </div>

    {% comment %} {% include './busqueda.html' %} {% endcomment %}

{% endblock %}

