{% load static %}
<html lang="es" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <link rel="stylesheet" href="{% static '/stilo.css' %}">
    <title>inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    {% comment %} <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style> {% endcomment %}


    <!-- Custom styles for this template -->
    {% comment %}
    <link href="sticky-footer-navbar.css" rel="stylesheet"> {% endcomment %}
</head>

<body class=" d-flex flex-column h-100 ">

    <header>

        
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
            <img src="..\..\static\img\image.png" alt="logo jaguar" style="height:72px; margin-right: 9px;">
            <h1 class="text-center navbar-brand ">Jaguarete</h1>
                <a class="text-center navbar-brand " href="{% url 'inicio' %}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item dropdown  ">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="true">
                                Categorias
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for categoria in categorias %}
                
                                <li>
                                    <a class="dropdown-item" href="{% url 'categoria' categoria.0 %}">{{categoria.1}}</a>
                                </li>
                                {% endfor %}

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" {% url 'about' %} ">Sobre nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="mailto:jaguarete@jaguarete">Contacto</a>
                        </li>
                    </ul>
                    
                    <ul class="navbar-nav  mb-2 mb-md-0">
                        {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link" href="#">Bienvenida/o @{{user.username}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link float-rigth" href="{% url 'logout' %}">Cerrar sesion</a>
                        </li>
                        {% if perms.inicio.add_producto %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'rendernew' %}">Nuevo producto</a>
                        </li>
                        {% endif %}

                        {% if perms.inicio.view_producto %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listar' %}">Lista</a>
                        </li>
                        {% endif %}

                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}"> Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registro' %}"> register</a>
                        </li>

                        {% endif %}

                    </ul>
                    <form action="{% url 'busqueda'%}" placeholder="buscar.." method="GET" >
                        
                    <label for="">Enter name: </label>

                            <input  type="text" name="q" value="">
                                <input type="submit" value="OK">
                                
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <hr>

    <div id="content" class="box d-flex flex-column">
        <div class="titulo mx-auto my-5">

            <h1 class="titulo"></h1>
        </div>

{% block content %}


        {% load humanize %}
        <h2>Productos</h2>

        <div class="container" style="margin-top:50px;">

            <div class="row d-flex justify-content-around ">
                {% for p in productos %}
                <div class="col-3 ">
                    <div class="card-sl d-flex flex-column justify-content-between  h-100">
                        <div>
                        <div class="card-image">
                            <img <img src="{{p.imagen.url}}" alt="imagen producto">
                        </div>

                        <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                        <div class="card-heading">
                            <h2>{{p.titulo}}</h2>
                        </div>
                        <div class="card-text">
                            <h5>{{p.descripcion}}</h5>
                        </div>
                        </div>
                        <div >
                        <div class="card-text">
                            <h3>${{p.precio| intcomma}}</h3>
                        </div>
                        <a href="#" class="card-button"> Purchase</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            {% endblock %}
            </div>
        </div>
</div>
        <hr>
        <footer class="footer mt-auto  ">
            {% comment %} <div class=""> {% endcomment %}
                <span class="text-muted">Jaguarete SA Desarrollado por Joshua Abel.</span>
                {% comment %}
            </div> {% endcomment %}
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        



        {% if mesagges %}

            
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% comment %} <script>
            Swal.fire({
                'title': 'Felicidades',
                'texto': '{{message}}',
                'icon': 'success'

            })
        </script> {% endcomment %}

        
        {% endif %}
        
        {% load sweetify %}
        {% sweetify %}
</body>

</html>