*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ; 
}



#content{
    
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 100px;
}
.box{
    background: white;
    width: 90%;
    height: 50%;
    padding: 20px;
    border: 1px solid #23282b;
    box-shadow: 0px 0px 20px grey ;

}  

.titulo{
    color: #444;
    letter-spacing: 2px;
    font-size: 30px;
    margin: 30px auto;
    
}




/* input .btn {
    
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s;
    float: right; */


/* .productos {
    display: flex;
    flex-wrap: wrap;
}
    
.producto {
    width: 25%;
    margin-top: 20px;
    }
    
.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
    
.producto .detalle {
    padding: 5px;
    }
    
.producto .contenedor_producto {
    background-color: white;
    width: 80%;
    margin: auto;
} */


.card-sl {
    
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
}

.card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #E26D5C;
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    }

.card-action:hover {
    color: #fff;
    background: #E26D5C;
    animation: pulse 1.5s infinite;
    -webkit-animation: pulse 1.5s infinite;

    }

.card-heading {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
    }

.card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #636262;
    }

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1F487E;
    color: #fff;
    border-radius: 0 0 8px 8px;
    align-self: flex-end;
    }

.card-button:hover {
    text-decoration: none;
    background-color: #1D3461;
    color: #fff;

    }


@keyframes pulse {
    0% {

        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }

    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}



footer{
    width: 100%;
    background-color:#212529;
    border: 1px solid #333;
    color:#d1d4d6 ;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px grey ;
    margin-top: 200px;
    
} 

