{% extends  "inicio/index.html" %}
{% load static %}

{% block content  %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <title>Ingresa tus datos</title>
</head>
<body>  

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">

                <div class="card">
                    <div class="card-body">
                        <h2>Ingresa tus datos</h2>
                        <hr>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form| crispy}} 
                            <div class="d-flex justify-content-around">
                            <a href="{% url  'index' %}"> Ir al home</a> | 
                            
                            <input type="submit" value= "Ingresar" class="btn btn-outline-success float rigth">
                            </div>
                        </form>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
    {% if user.is_authenticated %} 
    <script>alert("Bienvenido {{user.username.}}")</script>
    {% endif %} 
    {% endblock content  %}
</body>
</html>