{% extends  "inicio/index.html" %}


{% block content %}
{% load crispy_forms_tags %}


<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        
        <div class="card">
            <div class="card-body">
                <h2>Nuevo producto</h2>
                

                <form action="" method="post" enctype="multipart/form-data"> 
                    {% csrf_token %} 
                    {{ form|crispy }}

                    <div class="d-flex justify-content-end" >
                    
                        <input type="reset" value="cancelar" class="btn btn-secondary">
                        &nbsp;
                        <input type="submit" value="guardar" class="btn btn-primary">
                    </div>
                </form>
                {{mensaje}}
            </div>
        </div>


    </div>
</div>
{% endblock %}

