{% extends  "inicio/index.html" %}


{% block content %}
{% load humanize %}


<div class="card">
    <div class="card-body">
    
    <h2>Listado de producto</h2>
    <hr>

        <table class="table table-stripped table-hover table-responsive-sm">
    <tr>
    
    <th>Titulo</th>
    <th>Precio</th>
    <th>categoria</th>
    <th>Opciones</th>

    </tr>

{% for p in entity %}  

        <tr>
        
            <th>{{p.titulo| title}}</th>
            <th>${{p.precio | intcomma}}</th> 
            <th>{{p.categoria| title}}</th> 
            <td>
            {% if perms.inicio.change_producto %}
                <a href="{%url 'modificar-producto' p.id %}" class="btn btn-info btn-sm">Modificar</a>
            {% endif %}

            {% if perms.inicio.delete_producto %}
                <a href="{%url 'eliminar' p.id %}" class="btn btn-danger btn-sm">Eliminar</a>
            {% endif %}
            </td>
        </tr>

{% endfor %}   
</table>
<hr>
    <div>
        {% include 'inicio/paginator.html' %}
    </div>
    </div>
</div>



{% endblock %}